.recipe_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60em;
    height: 100em;
    border: 0.5em double brown;
    border-radius: 10px;
    background-color: aliceblue;
}
.recipe_container .content{
    box-sizing: border-box;
    background-color: black;
    width: 98%;
    height: 98%;
    border-radius: 10px;
    border: 0.5em double burlywood;
}
.title_container{
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    align-items: center;
}

.recipe_title{
    font-size: 3em;
    color: aliceblue;
    text-align: center;
}

.title_desc{
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 3em;
}
.recipe_img{
    height: 20em;
    width: 40em;
    border-radius: 10px;
}

.ingredient{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
}
.ingredient .list{
    width: 90%;
    line-height: 1.5em;
    font-size: 1em;
}

.instructions{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    
}

.instructions .instructions_text{
    width: 90%;
    margin: 1em;
    line-height: 1.5em;
    margin: 3em;
}